<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="com.hawk895.listeners.CustomListener"/>
	</listeners>
	
	<test name="LoginTest">
		<classes>
			<class name="com.hawk895.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->

	<test name="AddCustomer">
		<classes>
			<class name="com.hawk895.testcases.AddCustomer" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
